body {
    background-color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: 60px;
    height: 20px;
}
button {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: solid violet;
}
